.course-container{
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.198);
    background-color: aliceblue;
    padding: 20px;
}

button{
    background-color: greenyellow;
    height: 40px;
    width: 120px;
    border-radius: 20px;
}